[project]
name = "module_geo_boundaries"
authors = ["See AUTHORS file"]
description = "A module to create arbitrary regional boundary datasets for energy systems modelling"
license = "Apache-2.0"
readme = "README.md"
channels = ["conda-forge", "bioconda"]
platforms = ["win-64", "linux-64", "osx-arm64"]
homepage = "https://clio.readthedocs.io/"

[dependencies]
clio-tools = ">=2025.03.03"
conda = ">=25.0.0"
ipdb = ">=0.13.13"
ipykernel = ">=6.29.5"
jsonschema = ">=4.0.0"
mypy = ">=1.15.0"
pytest = ">=8.3.5"
python = ">=3.12"
ruff = ">=0.9.9"
snakefmt = ">=0.10.2"
snakemake-minimal = ">=8.29.0"

[tasks]
test-integration = {cmd = "pytest tests/clio_test.py"}

[feature.shape]
channels = ["conda-forge", "nodefaults"]

[feature.shape.dependencies]
boto3 = "1.40.46.*"
duckdb = "1.2.0.*"
geopandas = "1.0.1.*"
ipdb = "0.13.13.*"
pandera-geopandas = "0.24.*"
pandera-io = "0.24.*"
pyarrow = "19.0.1.*"
pycountry = "24.6.1.*"
shapely = "2.1.1.*"
numpy = "2.3.5.*"
ipykernel = ">=7.1.0"

[environments]
shape = { features = ["shape"], no-default-feature = true }
