$schema: "https://json-schema.org/draft/2020-12/schema"
description: "Schema for user-provided configuration files."
type: object
properties:
  overture_release:
    description: |
      Overture data release to use. Two options are possible:
      - A specific release string in the form of 'yyyy-mm-dd.x'.
      - A request for the latest release in the form of 'latest'.
    type: string
    pattern: "^(?:latest|(?:\\d{4})-(?:0[1-9]|1[0-2])-(?:0[1-9]|[12]\\d|3[01])\\.\\d+)$"
  crs:
    description: CRS codes in the form 'epsg:xxxx'.
    type: object
    properties:
      projected:
        type: string
        pattern: "^epsg:\\d{4,5}$"
      geographic:
        type: string
        pattern: "^epsg:\\d{4,5}$"
    required:
      - projected
      - geographic
    additionalProperties: False
  countries:
    description: >
      Dictionary of countries with each country code as the key.
      Country code must be in ISO alpha-3 format (e.g., MEX, CHN, DEU).
    type: object
    patternProperties:
      "^[A-Z]{3}$":  # Keys must be exactly three uppercase letters
        type: object
        properties:
          subtype:
            description: >
              "Regional aggregation to gather (e.g., '0', '1', or '2' for GADM). Names vary per dataset."
            type: string
          source:
            description: |
              Dataset to use as source.
            type: string
            enum: ["overture", "gadm", "nuts"]
          resolution:
            description: "Resolution for NUTS source (required if source is 'nuts')."
            type: string
            pattern: "^[0-9]{2}M$"
          year:
            description: "Year for NUTS source (required if source is 'nuts')."
            type: integer
        required:
          - subtype
          - source
        additionalProperties: false
        allOf:
          - if:
              properties:
                source:
                  enum: ["nuts"]
            then:
              required:
                - resolution
                - year
          - else:
              not:
                required:
                  - resolution
                  - year
    minProperties: 1
    additionalProperties: false
required:
  - countries
  - crs
additionalProperties: false
